body{
    font-family: 'Anton', sans-serif;
}
.span-color{
   text-align: center;
    color: rgb(236, 145, 40);
    font-size: 20px;
}

.head-vai{
    background-color: 
    #2D25A0;
    height: 600px;
    
}

.box-container{
    margin-left: 200px;
    
}
.box-container .copa-vai{
    
    position: absolute;
width: 485px;
height: 230px;
left: 156px;
top: 207px;
   
}

.foot-container{
    padding-top: 100px;
    margin-left: 1100px;
}


.box-container .watch-vai{
    text-decoration: none;
    background-image: linear-gradient(rgb(130, 220, 255),rgb(23, 200, 206));
    padding: 20px 40px;
    color: rgb(194, 74, 74);
    font-weight: 200px;
    border-radius: 5px;
    position: absolute;
    width: 190px;
    height: 60px;
    left: 156px;
    top: 330px;

   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
   justify-content: center;
    padding: 10px;
  }
  
  .grid-container > div {
    box-shadow: 0px 0px 40px rgba(109, 37, 37, 0.15);
    background-color: rgba(221, 213, 213, 0.8);
    border: 1px solid rgb(233, 133, 133);
    text-align: center;
    font-size: 200px;
    width: 400px;
    height: 300px;
    border-radius: 30px;
  }

  .footer-left{
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: 550px;
  }
  .socials{
      justify-content: center;
      margin-left: 330px;
      font-size: 70px;

  }

  .copy-vai{
      justify-content: center;
      margin-left: 910px;
      font-size: 20px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 20px;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 20px;
  }
  .fa-dribbble {
    background: #ea4c89;
    color: white;
    border-radius: 20px;
  }


 /* media queries */

 @media  only screen and (max-width:688px) {
     .head-vai{
         background-color: blueviolet;
         grid-template-columns: repeat(1, 1fr);
     }
 }







