body{
    font-family: 'Anton', sans-serif;
}

.head-vai{
    background-color: 
    #2D25A0;
    height: 600px;
    
}

.box-container{
    margin-left: 200px;
    
}
.box-container .copa-vai{
    
    position: absolute;
width: 485px;
height: 230px;
left: 156px;
top: 207px;

    
    
}
.box-container .watch-vai{
    text-decoration: none;
    background-image: linear-gradient(rgb(21, 173, 233),rgb(109, 170, 201));
    padding: 20px 40px;
    color: white;
    font-weight: 200px;
    border-radius: 5px;
    position: absolute;
    width: 150px;
    height: 45px;
    left: 156px;
    top: 330px;

   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
   justify-content: center;
    padding: 10px;
  }
  
  .grid-container > div {
    box-shadow: 0px 0px 40px rgba(109, 37, 37, 0.15);
    background-color: rgba(221, 213, 213, 0.8);
    border: 1px solid rgb(233, 133, 133);
    text-align: center;
    font-size: 200px;
    width: 400px;
    height: 300px;
    border-radius: 30px;
  }

  .footer-left{
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: 550px;
  }
  .socials{
      justify-content: center;
      margin-left: 330px;
      font-size: 60px;

  }

  .copy-vai{
      justify-content: center;
      margin-left: 910px;
      font-size: 20px;
  }










